<div class="back">
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form>
        <h3>Join</h3>

        <label for="username">Username</label>
        <input type="text" placeholder="Email or Phone" id="username" [(ngModel)]="this.user.username" name="name">

        <label for="email">Email</label>
        <input type="email" placeholder="Email" id="email" [(ngModel)]="this.user.email" name="email">

        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password" [(ngModel)]="this.user.password" name="password">


        <button id="btn-register" (click)="register">Register</button>
        <div class="social">
          <div class="go"><i class="fab fa-google"></i>  Google</div>
          <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
        </div>
    </form>
</div>

